body {
	color: #AAA;
	background: #444;
}

html {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
}

button,
input,
select,
textarea {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
}

select {
	color: #AAA;
	background: #333;
	border-color: #888;
}

button
{
	color: #AAA;
	background: #333;
	border-color: #888;
}
button:hover
{
	color: #CCC;
	background: #555;
}
button:disabled
{
	background: rgba(0,0,0,0.25);
	color: rgba(0.5,0.5,0.5,0.5);
}

input[type=text] {
	color: #CCC;
	background: rgba(255,255,255,0.05);
	border-color: #666;
}

a {
	color: #89A;
}

hr {
	background-color: #999;
}

pre {
	background: #3F3F3F;
}

code {
	color: #6C9;
}

/***  Styles  *********************************************************/

.color_link {
	color: #89A;
}

.ico_arrow_left {
	border-right: 0.5em solid #999;
}

.ico_arrow_right {
	border-left: 0.5em solid #999;
}

.btn_arrow {
	background: #282828;
}
.btn_arrow:hover {
	color: #DDD;
	background: #202020;
}
.btn_arrow_press {
	color: #DDD;
	background: #202020;
}

.btn_menu {
	background: #282828;
}
.btn_menu:hover {
	color: #DDD;
	background: #202020;
}
.btn_menu_press {
	color: #DDD;
	background: #202020;
}

.feed_panel {
	background: #444;
}

.article_panel {
	background: #444;
}

.panel_head {
	background: #333;
	color: #BBB;
}

.item:not(:first-child) {
	border-top: #999 solid 1px;
}

.item_left_press {
	background: #4A4A4A;
	color: #DDD;
}

.item_right {
	background: #444C55;
}
.item_right_press {
	background: #445566;
	color: #DDD;
}

.feed_loadmore_block {
	background: #393939;
}

.subreddit_item:not(:first-child) {
	border-top: #999 solid 1px;
}
/*.subreddit_item:hover {
	background: #4A4A4A;
}*/
.subreddit_item_press {
	background: #555;
}
.subreddit_item_delete {
	background: #3A3A3A;
}
.subreddit_item_delete:hover {
	background: #333;
}
.subreddit_item_delete_press {
	background: #333;
}

.article_block {
	background: #3F3F3F;
	border: #777 solid 1px;
}

.article_comment_body {
	border-left: #666 solid 2px;
	border-bottom: #666 solid 1px;
}

.menu_items {
	background: #333;
}
.menu_item:not(:first-child) {
	border-top: #555 solid 1px;
}
.menu_item:hover {
	background: #444;
}
