.btn-panelnav {
	color: var(--clr-btn-panelnav-fg);
	background-color: var(--clr-btn-panelnav-bg);
}
.btn-panelnav:active {
	color: var(--clr-btn-panelnav-fg-active);
	background-color: var(--clr-btn-panelnav-bg-active);
}
