/* Options (left panel) **********************************/

.subreddit-item:not(:first-child) {
	border-top-color: var(--clr-line);
}
.subreddit-item:active {
	background-color: var(--clr-bg-active);
}
.subreddit-item-delete {
	background-color: var(--clr-btn-deletesub-bg);
}
.subreddit-item-delete:active {
	background-color: var(--clr-btn-deletesub-bg-active);
}
