/* Panel *************************************************/

.panel-head {
	color: var(--clr-panelhead-fg);
	background-color: var(--clr-panelhead-bg);
	box-shadow: 0 5px 10px var(--clr-panelhead-shadow);
}
