/* Sidebar (right panel) **********************************/

.panel-sidebar {
	& .panel-head {
		padding-left: 1.5em;
	}

	& .panel-content {
		padding-left: 2em;
		padding-right: 10%;

		& .meta-body {
			font-size: 0.85em;
			line-height: 1.35em;
			margin-bottom: 1em;

			& hr {
				margin: 0.75em 0;
			}

			& h1, & h2, & h3, & h4 {
				margin: 0.4em 0;
				padding: 0;
			}
		}
	}
}
